# AWS Credentials to handle with Bedrock
AWS_ACCESS_KEY_ID=access_key_aqui
AWS_SECRET_ACCESS_KEY=secret_key_aqui
AWS_DEFAULT_REGION=us-east-1

# Model ID to use with Embeddings process (Coloquei o Titan por ser excelente e barato para textos médios)
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v1