# Ambiente Virtual local
.venv/
venv/
ENV/

# Caches do Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Arquivos de configuração local (Variáveis de Ambiente com chaves de IA)
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db